* {
    font-family: "Brass Mono", monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 20px;
}

canvas {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
}

#hidLog, #hidInput {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: pre;
    opacity: 0;
}